body {
	text-align: center;
	padding-top: 25px;
	/* font-family: "Open Sans Condensed", sans-serif; */
	background-image: url("../img/wood-tile.jpg")
}

h1 {
	font-family: "Gloria Hallelujah", cursive;
}

table {
	border-spacing: 0px;
	border-collapse: collapse;
	background-image: url("../img/board-tile.png");
}

.fork-me {
	position: absolute;
	top: 0;
	right: 0;
	border: 0;
}

#square-7-7 {
	background-image: url("../img/center-tile.png");
}

td {
	text-align: center;
	font-size: 0;
	/* border: 1px solid black; */
	height: 30px;
	width: 30px;
	padding: 0px;
	/* background-image: url("../img/board-tile.png"); */
}

.black {
	background-image: url("../img/black-piece.png") !important;
}

.white {
	background-image: url("../img/white-piece.png") !important;
}

.margin-auto {
	margin: 0 auto;
}

.w-10 {
	width: 10%;
}
